.input__password__wrap3,
.input__password__wrap2,
.input__password__wrap {
  width: max-content;
  height: 48px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 15px;
}

.input__password__wrap2 {
  margin-bottom: 25px;
}

.input__password__wrap3 {
  margin-bottom: 30px;
}

.input__password__main {
  display: flex;
  width: 376px;
  height: 48px;
  align-items: center;
  border: 1.2px solid #d3d8dc;
  border-radius: 6px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  cursor: pointer;
  padding: 0px 12px 0px 12px;
  gap: 6px;
  transition: 0.1s;
}

.input__password__main:focus {
  border: 1.2px solid #366fe0;
  outline: none;
}

.input__password__main::placeholder {
  color: #a1abb5;
}

.input__eye__close {
  position: absolute;
  background-image: url(../../assets/Union.png);
  background-repeat: no-repeat;
  background-color: inherit;
  border: 0;
  height: 14px;
  width: 19px;
  left: 350px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  outline: none;
}

.password__label {
  display: flex;
  width: 400px;
  justify-content: left;
  font-weight: 500;
  font-family: "Basis Grotesque Bolt";
  font-size: 15px;
  line-height: 21px;
  font-size: calc(100% - 0.24%);
  margin-bottom: 8px;
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .input__password__main {
    width: 80vw;
  }

  .input__eye__close {
    left: 76vw;
  }

  .password__label {
    width: 80vw;
  }
}
