.social__horizon__wrap {
  display: flex;
  justify-content: space-between;
  width: 400px;
  align-items: center;
  height: 16px;
  margin-bottom: 30px;
}

.social__or {
  position: relative;
  width: max-content;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #bec5cc;
}

.social__horizon__line {
  width: 186px;
  height: 1px;
  background-color: #e3e6e9;
}

@media screen and (max-width: 767px) {
  .social__horizon__wrap {
    width: 85vw;
    margin: 0 auto 38px;
  }

  .social__horizon__line {
    width: 40vw;
  }
}
