.main__header__wrap {
  width: max-content;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.main__header {
  font-weight: 700;
  font-size: 30px;
  line-height: 38.73px;
}

.img__main {
  width: 178.09px;
  height: 32px;
  margin-bottom: 80px;
}
