.forgot__password__wrap {
  display: flex;
  width: 400px;
  justify-content: right;
  margin: 0 auto 30px;
}

.forgot__password__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: inherit;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #316fea;
  cursor: pointer;
  transition: 0.2s;
}

.forgot__password__btn:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .forgot__password__wrap {
    width: 85vw;
  }
}
